# Ignore semua secara default
*
node_modules/

# Include source dan build file yang dibutuhkan docker build
!src/
!prisma/schema.prisma
!prisma/migrations/
!*.config.js
!package.json
!package-lock.json
!docs