node_modules
assets
generated
.git
.gitignore
.gitattributes
.env
.env.prod
.env.*
.dockerignore
Dockerfile
compose.yaml
compose.*.yaml
.vscode
.oxlintrc.json
.oxfmtrc.json
jsconfig.json
LICENSE
*.md
